@import "./variables/variables";

body {
    color: $text-color;

    .form__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-size: 1.5rem;
        background-color: #222222;

        .logo__container img {
            width: 150px;
            height: auto;
            margin-bottom: 25px;
        }

        .error__msg {
            border: 1px solid #cb4154;
            text-align: center;
            padding: 12px;
            margin: 25px 0px;
            border-radius: 10px;

            .error-icon {
                color: #cb4154;
            }
        }

        .success__msg {
            border: 1px solid #41cb58;
            text-align: center;
            padding: 12px;
            margin: 25px 0px;
            border-radius: 10px;

            .success-icon {
                color: #41cb58;
            }

            .spinner {
                color: #41cb58;
                animation: spin 2s linear infinite;

                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        .quantity__selector {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .form__group {
            position: relative;
            padding: 15px 0 0;
            margin-top: 10px;
            width: 50%;
        }

        .form__field {
            font-family: inherit;
            width: 100%;
            border: 0;
            border-bottom: 2px solid $border-bottom;
            outline: 0;
            font-size: 1.3rem;
            color: $text-color;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s;

            &::placeholder {
                color: transparent;
            }

            &:placeholder-shown ~ .form__label {
                font-size: 1.3rem;
                cursor: text;
                top: 20px;
            }
        }

        .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 1rem;
            color: $gray;
        }

        .form__field:focus {
            ~ .form__label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 1rem;
                color: $primary;
                font-weight: 700;
            }
            padding-bottom: 6px;
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, $primary, $secondary);
            border-image-slice: 1;
        }
        /* reset input */
        .form__field {
            &:required,
            &:invalid {
                box-shadow: none;
            }
        }

        .auth__btn {
            margin-top: 33px;
            border-radius: 20px;
            border: 1px solid $auth-btn;
            background-color: $auth-btn;
            color: #ffffff;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;

            &:active {
                transform: scale(0.95);
            }

            &:focus {
                outline: none;
            }

            button.ghost {
                background-color: transparent;
                border-color: #ffffff;
            }

            &[disabled] {
                pointer-events: none;
                opacity: 0.7;
            }
        }

        .paypal__btn {
            margin-top: 50px;
        }

        .redirect__link {
            margin-top: 25px;

            a {
                font-size: 20px;
                color: $gray;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .copyright {
            margin-top: 25px;
            font-size: 14px;
            color: $gray;

            a {
                color: $gray;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.form-error {
    color: #cb4154;
    font-weight: 700;
    border: 2px solid #cb4154;
    padding: 10px;
    margin-bottom: 20px;
}
